<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= @seo_meta_title %> | Charles Hollenbeck</title>
		<meta charset="UTF-8" />
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
	</head>
	<body>
		<div id="wrapper">
			<nav>
				<ul>
					<li><%= link_to "Dashboard", admin_path, class: "pure-menu-link" %></li>
					<li>
						<%= link_to "Posts", admin_posts_path, class: "pure-menu-link " %>
						<ul>
							<li><%= link_to "View All", admin_posts_path, class: "pure-menu-link" %></li>
							<li><%= link_to "New", new_admin_post_path, class: "pure-menu-link" %></li>
						</ul>
					</li>
					<li>
						<%= link_to "Settings", admin_settings_path, class: "pure-menu-link " %>
					</li>
					<li>
						<%= link_to "Users", admin_users_path, class: "pure-menu-link " %>
						<ul>
							<li><%= link_to "View All", admin_users_path, class: "pure-menu-link" %></li>
							<li><%= link_to "New", new_admin_user_path, class: "pure-menu-link" %></li>
						</ul>
					</li>
				</ul>
			</nav>
			<main>
				<%= yield %>
			</main>
		</div>
	</body>
</html>